<app-navigation></app-navigation>

<div class="main-wrapper" id="hover">
    <div class="h-100 d-flex">
        <div class="left-grid-hover col-2 animate__animated animate__slideInDown"></div>

        <div class="mid-grid-hover col-4 p-5">
            <div class="p-4 animate__animated animate__lightSpeedInLeft">
                <span class="col-10 text-sub text-uppercase"><sup>02</sup>animate on hover</span>
                <h4 class="col-10 text-regular mt-4"><b>Hover</b> on the grumpy cat to see 'its special way' of peek-a-boo!</h4>
            </div>
        </div>

        <div class="right-grid-hover col-6 d-flex justify-content-center align-items-end animate__animated animate__slideInUp">
            <div>
                <!-- <lottie-player 
                id="grumpycat" 
                src="https://assets4.lottiefiles.com/packages/lf20_ukmmbtae.json" 
                style="width:450px; height: 450px;">
                </lottie-player> -->

                <lottie-interactive
                path="./assets/json/grumpy-cat.json"
                interaction="hover"
                view-box="0 0 500 500"
                >
                </lottie-interactive>

            </div> 
        </div>
    </div>
</div>
