.left-grid-hover{
    height: 100%;
    background: var(--blue);
}

.mid-grid-hover{
    height: 100%;
    background: var(--white);
    color: var(--blue);
}

.right-grid-hover{
    height: 100%;
    background: var(--pink);
}

.lottie-hover{
    width: 95%;
    margin-left: -1em;
    margin-bottom: -1em;
}

.bodymovinanim {
    width: 90%;
    max-width: 250px;
    margin-bottom: 30px;
    cursor: pointer;
  }

  #anim {
    border: 1px solid #ddd;
    border-radius: 20px;
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
}
