.left-grid-hover{
    z-index: 3;
    height: 100%;
    background: var(--blue);
}

.mid-grid-hover{
    height: 100%;
    background: var(--white);
    color: var(--blue);
}

.right-grid-hover{
    height: 100%;
    background: var(--pink);
}

.lottie-hover{
    width: 95%;
    margin-left: -1em;
    margin-bottom: -1em;
}

#hover .animate__animated.animate__animate__slideInUp,
#hover .animate__animated.animate__slideInDown {
    animation-duration: 0.7s;
}

#hover .animate__animated.animate__lightSpeedInLeft {
    animation-delay: 0.7s;
    animation-duration: 0.7s;
}
