.left-grid-hover{
    height: 100%;
    background: var(--blue);
}

.mid-grid-hover{
    height: 100%;
    background: var(--white);
    color: var(--blue);
}

.right-grid-hover{
    height: 100%;
    background: var(--pink);
}

.lottie-scroll{
    width: 103%;
    margin-left: -1em;
    margin-bottom: -1em;
}