<app-navigation></app-navigation>

<div class="main-wrapper">
    <div class="h-100 d-flex">
        <div class="left-grid-hover col-2"></div>

        <div class="mid-grid-hover col-4 p-5">
            <div class="p-4">
                <span class="col-10 text-sub text-uppercase"><sup>02</sup>animate on hover</span>
                <h4 class="col-10 text-regular mt-4">Hover on the grumpy cat to see if he likes you or not.</h4>
            </div>
        </div>

        <div class="right-grid-hover col-6 d-flex justify-content-center align-items-end">
            <div>
                <lottie-interactive path="./assets/json/grumpy-cat.json" interaction="hover"></lottie-interactive>
            </div> 
        </div>
    </div>
</div>
