@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Space+Mono&family=Work+Sans:wght@900&display=swap');


.main-wrapper {
height: 100vh;  
}

.right {
    background: var(--pink);
}

.text-bold { 
    color: var(--blue);
    font-size: 90px;
    line-height: 117px;
}

.text-regular { 
    color: var(--blue);
    font-size: 24px;
    line-height: 33px;
}

.lottie-loader {
    width: 80%;
    cursor: pointer;
}