.left-grid-click{
    height: 100%;
    background: var(--white);
}

.mid-grid-click{
    height: 100%;
    background: var(--blue);
    color: var(--white);
}

.right-grid-click{
    height: 100%;
    background: var(--pink);
}

.lottie-click{
    width: 103%;
    margin-left: -1em;
    margin-bottom: -1em;
}

#click .push-btn{
    background: tomato;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 50px solid tomato;
    transition: 0.25s;
    font-family: Space Mono;
    text-transform: uppercase;
    animation: blink 1s ease-in-out infinite;
}

#click .push-btn:hover{
    transition: 0.25s;
    cursor: pointer;
    transform: scale(1.2);
  }

  @keyframes blink {
    0% {
        box-shadow: 0px 0px 0px #FF7D63;
   }
    50% {
        box-shadow: 0px 0px 50px #FF7D63;
   }
    100% {
        box-shadow: 0px 0px 0px #FF7D63;
   }
}