<app-navigation></app-navigation>

<div class="main-wrapper">
    <div class="h-100 d-flex">
        <div class="left-grid-scroll col-4 p-5">
            <div class="p-4">
                <span class="col-10 text-sub text-uppercase"><sup>04</sup>animate on scroll</span>
                <h4 class="col-10 text-regular mt-4">Scroll your mouse up and down to launch and land the rocket.</h4>
            </div>
        </div>

        <div class="mid-grid-scroll col-6 d-flex justify-content-center align-items-end">
            <div class="">
                <lottie-player class="lottie-scroll" src="./assets/json/rocket.json" speed="1" loop autoplay routerLink="/home"></lottie-player>
            </div>
        </div>

        <div class="right-grid-scroll col-2"></div>
    </div>
</div>
