.scroll-wrapper{
    height: 100vh; 
}

.left-grid-scroll{
    height: 100%;
    background: var(--pink);
    color: var(--blue);
}

.mid-grid-scroll{
    height: 100%;
    background: white;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: tomato;
    border-radius: 50px;
}

.mid-content{
    height: 6000px;
}

.right-grid-scroll{
    z-index: 5;
    height: 100%;
    background: var(--blue);
}

.lottie-scroll{
    width: 100%;
    margin-bottom: -1em;
}

#scroll .animate__animated.animate__animate__slideInUp,
#scroll .animate__animated.animate__slideInDown {
    animation-duration: 0.7s;
}

#scroll .animate__animated.animate__lightSpeedInLeft {
    animation-delay: 0.7s;
    animation-duration: 0.7s;
}

#robotBG path{
    fill: none;
}

.animation {
    position: fixed;
    width: 800px;
    top: 50%;
    left: 71.5%;
    margin: auto 0;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}