<app-navigation></app-navigation>

<div class="main-wrapper" id="scroll">
    <div class="h-100 d-flex">
        <div class="left-grid-scroll col-4 p-5 animate__animated animate__slideInDown">
            <div class="p-4 animate__animated animate__lightSpeedInLeft">
                <span class="col-10 text-sub text-uppercase"><sup>04</sup>animate on scroll</span>
                <h4 class="col-10 text-regular mt-4">Scroll your mouse up and down to launch and land the rocket.</h4>
            </div>
        </div>

        <div class="mid-grid-scroll col-6 d-flex justify-content-center align-items-end">
            <div class="">
                <ng-lottie height="auto" [options]="options"></ng-lottie>
            </div>
        </div>

        <div class="right-grid-scroll col-2 animate__animated animate__slideInUp"></div>
    </div>
</div>
