.left-grid-scroll{
    height: 100%;
    background: var(--blue);
    color: white;
}

.mid-grid-scroll{
    height: 100%;
    background: var(--white);
}

.right-grid-scroll{
    height: 100%;
    background: var(--pink);
    color: var(--blue);
}

.lottie-scroll{
    width: 100%;
    margin-bottom: -1em;
}