<app-navigation></app-navigation>

<div class="main-wrapper" id="game">
    <div class="h-100 d-flex">
        <div class="left-grid-game col-2 animate__animated animate__slideInUp"></div>

        <div class="mid-grid-game col-6 d-flex justify-content-center align-items-end">
            <div class="">
                <!-- <lottie-player class="lottie-scroll" src="./assets/json/pop.json" speed="1" loop autoplay></lottie-player> -->
            </div>
        </div>

        <div class="right-grid-game col-4 p-5 animate__animated animate__slideInDown">
            <div class="p-4 animate__animated animate__lightSpeedInLeft">
                <span class="col-10 text-sub text-uppercase"><sup>05</sup>Play a game</span>
                <h4 class="col-10 text-regular mt-4">Just a basic game of tic tac toe included for the fun of it. Enjoy!</h4>
            </div>
        </div>
    </div>
</div>
