.board-wrapper{
    z-index: 5;
    position: absolute;
    height: 100vh;
    margin-left: 20em;
}

main {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 0px;
}
  
app-square {
    border: none;
    width: 150px;
    height: 150px;
}