<div id="navbar">
    <input type="checkbox" id="toggle-gc">
    <label for="toggle-gc">
        <!-- <i class="fa fa-plus"></i> -->
        <lottie-interactive path="./assets/json/menu/menu.json" interaction="switch"></lottie-interactive>
    </label>
    
    <div class="navbar-wrapper">
        <div class="h-100 d-flex">
            <div class="left-grid-nav col-5 d-flex justify-content-end align-items-end">
                <div class="mr-5">
                    <ng-lottie height="auto" [options]="options"></ng-lottie>
                </div>
            </div>

            <div class="right-grid-nav col-7 d-flex flex-column justify-content-center align-items-center py-5">
                <div class="menu pb-5">
                    <span class="text-sub text-uppercase">
                        Choose an activity
                    </span>
                    <h1 class="text-regular mt-4">
                        <sup>01</sup><a routerLink="/home">Wobble Your World</a><br>
                        <sup>02</sup><a routerLink="/on-hover">Cat-A-Boo</a><br>
                        <sup>03</sup><a routerLink="/on-click">Jumping Jacks</a><br>
                        <sup>04</sup><a routerLink="/on-scroll">Launch a Rocket</a><br>
                        <sup>05</sup><a routerLink="/play-game">Tic Tac Toe</a>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>