@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Space+Mono&family=Work+Sans:wght@900&display=swap');

:root{
    --blue: #2334C5;
    --pink: #F7CEF1;
    --white: #ffffff;
    --black: #222222;
}

html {
    overflow: hidden;
}

.main-wrapper {
    height: 100vh;  
    overflow: hidden;
}   

.text-bold { 
    font-family: Work Sans;
    font-style: normal;
    font-weight: 900;
}

.text-regular { 
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
}

.text-sub { 
    font-family: Space Mono;
    font-style: normal;
    font-weight: 400;
}

sup {
    margin-right: 0.5em;
}

span{
    font-size: 12px;
}

h4{
    font-size: 24px;
    line-height: 36px;
}