
    <div class="nav-btn">
        <button id="click">
            <i class="fas fa-bars"></i>
        </button>
    </div>

    <div class="container-fluid">
    <div class="row">
        <div id="nav-grid">
            <div class="nav-links">
                <h4>Navigations</h4><br>
                <a href="#">Services</a><br>
                <a href="#">Works</a><br>
                <a href="#">Contacts</a><br>
            </div>

            <div class="nav-svg">
                <img src="./assets/img/nav.png">
            </div>
        </div>
    </div>
    </div>

    <div class="container-fluid h-100">
    <div class="row h-100">

        <div class="left-grid col-md-7 col-12">
            <div class="main-title offset-md-1 col-md-5 col-12">
                <h1>Life in<br> Retrospective</h1>
            </div>

            <div class="offset-md-1 col-12">
            <div class="row">
                <div class="past col-md-4 col-12">
                    <h5>The Past</h5>
                    <h6>Lorem ipsum dolor amet, consectetur adipiscing elit. Fusce massa magna,</h6>
                </div>
                <div class="future col-md-4 col-12">
                    <h5>The Future</h5>
                    <h6>Nam ac leo sit amet magna euismod hendrerit. Etiam quis sodales lectus.</h6>
                </div>
            </div>
            </div>
        </div>

        <div class="right-grid col-md-5 col-12"></div>

        <div class="main-svg col-md-12 col-12">
            <img src="./assets/img/main.png">
        </div>

    </div>
    </div> 

    
