.lottie-home {
    width: 110%;
    margin-bottom: -1em;
}

.left-grid{
    height: 100%;
    background: var(--pink);
}

.mid-grid{
    height: 100%;
    background: var(--white);
    color: var(--blue);
}

.mid-grid h1{
    font-size: 65px;
    line-height: 65px;
}

.right-grid{
    background: var(--blue);
    height: 100%;
}