.lottie-home {
    width: 110%;
    margin-bottom: -0.6em;
}

.left-grid{
    height: 100%;
    background: var(--blue);
    color: white;
}

.left-grid h1{
    font-size: 80px;
    line-height: 80px;
}

.left-grid span{
    font-size: 14px;
}

.left-grid h4{
    font-size: 22px;
    line-height: 36px;
}

.right-grid{
    background: var(--pink);
    height: 100%;
}